In [1]:
import numpy as np
import pandas as pd
import io
import statsmodels.formula.api as smf

In [5]:
data = '''output capital labour
9.25    2.61    184  
3.66    1.32     91  
28.78   22.09   426  
4.12    10.74    72  
2.89    1.16     46 '''

In [6]:
data

'output capital labour\n9.25    2.61    184  \n3.66    1.32     91  \n28.78   22.09   426  \n4.12    10.74    72  \n2.89    1.16     46 '

In [7]:
df = pd.read_csv(io.StringIO(data), sep='\s+')
df

   output  capital  labour
0    9.25     2.61     184
1    3.66     1.32      91
2   28.78    22.09     426
3    4.12    10.74      72
4    2.89     1.16      46

In [15]:
# Переименуем столбцы, так как log(output) интерпреитуется как функция логарифма от outpu
df =df.rename(columns={"output": "LOGoutput", "capital": "LOGcapital", "labour":'LOGlabour'})
df

   LOGoutput  LOGcapital  LOGlabour      pred  residual
0       9.25        2.61        184  2.194068  0.030556
1       3.66        1.32         91  1.551013 -0.253550
2      28.78       22.09        426  3.238628  0.121053
3       4.12       10.74         72  1.824968 -0.409115
4       2.89        1.16         46  1.039504  0.021753

In [17]:
df ['pred'] = -1.71+0.21 *np.log(df['LOGcapital']) +0.71 *np.log(df['LOGlabour'])
df

   LOGoutput  LOGcapital  LOGlabour      pred  residual
0       9.25        2.61        184  2.194068  0.030556
1       3.66        1.32         91  1.551013 -0.253550
2      28.78       22.09        426  3.238628  0.121053
3       4.12       10.74         72  1.824968 -0.409115
4       2.89        1.16         46  1.039504  0.021753

In [18]:
df['residual']=np.log(df['LOGoutput'])-df['pred']
df

   LOGoutput  LOGcapital  LOGlabour      pred  residual
0       9.25        2.61        184  2.194068  0.030556
1       3.66        1.32         91  1.551013 -0.253550
2      28.78       22.09        426  3.238628  0.121053
3       4.12       10.74         72  1.824968 -0.409115
4       2.89        1.16         46  1.039504  0.021753