In [1]:
import pandas as pd
import numpy as np
import io
import statsmodels.formula.api as smf
import scipy.stats as stats

In [8]:
data_string = '''Observations            706         706         706         706    
R2                     0.118       0.022       0.015       0.007   
AdjustedR2            0.110       0.014       0.012       0.002   
ResidualStd.Error   419.371     441.301     441.775     444.018 '''

In [9]:
df = pd.read_csv(io.StringIO(data_string), delimiter='\s+', header=None, index_col=0)
df.reset_index()

                   0        1        2        3        4
0       Observations  706.000  706.000  706.000  706.000
1                 R2    0.118    0.022    0.015    0.007
2         AdjustedR2    0.110    0.014    0.012    0.002
3  ResidualStd.Error  419.371  441.301  441.775  444.018

In [10]:
df = df.transpose()
df

0  Observations     R2  AdjustedR2  ResidualStd.Error
1         706.0  0.118       0.110            419.371
2         706.0  0.022       0.014            441.301
3         706.0  0.015       0.012            441.775
4         706.0  0.007       0.002            444.018

In [11]:
df['m'] = [8,7,3,5]
df

0  Observations     R2  AdjustedR2  ResidualStd.Error  m
1         706.0  0.118       0.110            419.371  8
2         706.0  0.022       0.014            441.301  7
3         706.0  0.015       0.012            441.775  3
4         706.0  0.007       0.002            444.018  5

In [12]:
alpha = 0.01
df['F_cr'] = stats.f.ppf(1-alpha,df['m']-1,df['Observations'] - df['m'])
df

0  Observations     R2  AdjustedR2  ResidualStd.Error  m      F_cr
1         706.0  0.118       0.110            419.371  8  2.664930
2         706.0  0.022       0.014            441.301  7  2.827785
3         706.0  0.015       0.012            441.775  3  4.635470
4         706.0  0.007       0.002            444.018  5  3.346000

In [13]:
df['F_nab'] = (df['R2']/(1-df['R2']))*((df['Observations']-df['m'])/(df['m']-1))
df

0  Observations     R2  AdjustedR2  ResidualStd.Error  m      F_cr      F_nab
1         706.0  0.118       0.110            419.371  8  2.664930  13.340460
2         706.0  0.022       0.014            441.301  7  2.827785   2.620654
3         706.0  0.015       0.012            441.775  3  4.635470   5.352792
4         706.0  0.007       0.002            444.018  5  3.346000   1.235398

In [14]:
df['znachimost'] = df.apply(lambda x : 'znachima' if x['F_nab'] > x['F_cr'] else 'neznachimo', axis = 1)
df

,Observations,R2,AdjustedR2,ResidualStd.Error,m,F_cr,F_nab,znachimost
1,706.0,0.118,0.110,419.371,8,2.664930,13.340460,znachima
2,706.0,0.022,0.014,441.301,7,2.827785,2.620654,neznachimo
3,706.0,0.015,0.012,441.775,3,4.635470,5.352792,znachima
4,706.0,0.007,0.002,444.018,5,3.346000,1.235398,neznachimo