In [1]:
import pandas as pd
import numpy as np
import io
import statsmodels.formula.api as smf
import scipy.stats as stats

In [2]:
data_string = '''Observations            158         158         158        158      158  
R2                     0.992       0.976       0.982      0.053    0.026 
AdjustedR2            0.992       0.976       0.982      0.035    0.020 
ResidualStd.Error    0.138       0.239       0.209      1.516    1.527'''

In [3]:
df = pd.read_csv(io.StringIO(data_string), delimiter='\s+', header=None, index_col=0)
df.reset_index()

                   0        1        2        3        4        5
0       Observations  158.000  158.000  158.000  158.000  158.000
1                 R2    0.992    0.976    0.982    0.053    0.026
2         AdjustedR2    0.992    0.976    0.982    0.035    0.020
3  ResidualStd.Error    0.138    0.239    0.209    1.516    1.527

In [4]:
df = df.transpose()
df

0  Observations     R2  AdjustedR2  ResidualStd.Error
1         158.0  0.992       0.992              0.138
2         158.0  0.976       0.976              0.239
3         158.0  0.982       0.982              0.209
4         158.0  0.053       0.035              1.516
5         158.0  0.026       0.020              1.527

In [5]:
df['m'] = [6,3,5,4,2]
df

0  Observations     R2  AdjustedR2  ResidualStd.Error  m
1         158.0  0.992       0.992              0.138  6
2         158.0  0.976       0.976              0.239  3
3         158.0  0.982       0.982              0.209  5
4         158.0  0.053       0.035              1.516  4
5         158.0  0.026       0.020              1.527  2

In [6]:
df['F_nab'] = (df['R2']/(1-df['R2']))*((df['Observations']-df['m'])/(df['m']-1))
df

0  Observations     R2  AdjustedR2  ResidualStd.Error  m        F_nab
1         158.0  0.992       0.992              0.138  6  3769.600000
2         158.0  0.976       0.976              0.239  3  3151.666667
3         158.0  0.982       0.982              0.209  5  2086.750000
4         158.0  0.053       0.035              1.516  4     2.872932
5         158.0  0.026       0.020              1.527  2     4.164271

In [9]:
alpha = 0.01
df['F_cr'] = stats.f.ppf(1-alpha,df['m']-1,df['Observations'] - df['m'])
df

,Observations,R2,AdjustedR2,ResidualStd.Error,m,F_nab,F_cr,znachimost
1,158.0,0.992,0.992,0.138,6,3769.600000,3.139909,znachima
2,158.0,0.976,0.976,0.239,3,3151.666667,4.744744,znachima
3,158.0,0.982,0.982,0.209,5,2086.750000,3.444189,znachima
4,158.0,0.053,0.035,1.516,4,2.872932,3.911342,znachima
5,158.0,0.026,0.020,1.527,2,4.164271,6.800161,znachima

In [10]:
df['znachimost'] = df.apply(lambda x : 'znachima' if x['F_nab'] > x['F_cr'] else 'neznachimo', axis = 1)
df

,Observations,R2,AdjustedR2,ResidualStd.Error,m,F_nab,F_cr,znachimost
1,158.0,0.992,0.992,0.138,6,3769.600000,3.139909,znachima
2,158.0,0.976,0.976,0.239,3,3151.666667,4.744744,znachima
3,158.0,0.982,0.982,0.209,5,2086.750000,3.444189,znachima
4,158.0,0.053,0.035,1.516,4,2.872932,3.911342,neznachimo
5,158.0,0.026,0.020,1.527,2,4.164271,6.800161,neznachimo