In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import seaborn as sns
import re
import scipy.stats as stats

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/wage2.csv')
df

,wage,hours,IQ,KWW,educ,exper,tenure,age,married,black,south,urban,sibs,brthord,meduc,feduc,lwage
0,769,40,93,35,12,11,2,31,1,0,0,1,1,2.0,8.0,8.0,6.645091
1,808,50,119,41,18,11,16,37,1,0,0,1,1,NaN,14.0,14.0,6.694562
2,825,40,108,46,14,11,9,33,1,0,0,1,1,2.0,14.0,14.0,6.715384
3,650,40,96,32,12,13,7,32,1,0,0,1,4,3.0,12.0,12.0,6.476973
4,562,40,74,27,11,14,5,34,1,0,0,1,10,6.0,6.0,11.0,6.331502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,520,40,79,28,16,6,1,30,1,1,1,0,0,1.0,11.0,NaN,6.253829
931,1202,40,102,32,13,10,3,31,1,0,1,1,7,7.0,8.0,6.0,7.091742
932,538,45,77,22,12,12,10,28,1,1,1,0,9,NaN,7.0,NaN,6.287858
933,873,44,109,25,12,12,12,28,1,0,1,0,1,1.0,NaN,11.0,6.771935
934,1000,40,107,32,12,17,18,35,1,0,1,0,5,1.0,NaN,NaN,6.907755

In [3]:
data_string = '''R2                      0.146          0.182  '''
rest, unrest =np.float_(re.findall(r'([-+]?\d+.\d+)', data_string))

In [4]:
F_obs = (unrest - rest)/(1-unrest)*(935-8)/4
F_obs.round(2)

2.92

$$
H0: \beta_{urban} = \beta_{age*urban} = \beta_{IQ*urban} =  \beta_{south*urban}
$$
$$
H_1: \beta_{urban}^2 + \beta_{age*urban}^2 + \beta_{IQ*urban}^2 + \beta_{south*urban}^2 > 0 
$$

In [12]:
alpha = 0.1
F_cr = stats.f.ppf(1-alpha,4,935-8)
F_cr

1.9509328589732264

$$
F_{obs} < F_{cr}
$$
Принимаем гипотезу Н0, структурные сдвиги не значимы