In [19]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import seaborn as sns
import re
import scipy.stats as stats

In [20]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/diamonds.csv')
# Метод .loc[] фильтрует данные таблицы по строкам и столбцам.
# Метод  "df.loc[:,['carat']]" делает срез данных и означает,
# что из датафрейма выбираются все строки(это делается с помощью знака ":") столбца "carat".
df_all = pd.get_dummies(df.loc[:,['carat','color','cut','price']])
df_all

,carat,price,color_D,color_E,color_F,color_G,color_H,color_I,color_J,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good
0,0.23,326,0,1,0,0,0,0,0,0,0,1,0,0
1,0.21,326,0,1,0,0,0,0,0,0,0,0,1,0
2,0.23,327,0,1,0,0,0,0,0,0,1,0,0,0
3,0.29,334,0,0,0,0,0,1,0,0,0,0,1,0
4,0.31,335,0,0,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,2757,1,0,0,0,0,0,0,0,0,1,0,0
53936,0.72,2757,1,0,0,0,0,0,0,0,1,0,0,0
53937,0.70,2757,1,0,0,0,0,0,0,0,0,0,0,1
53938,0.86,2757,0,0,0,0,1,0,0,0,0,0,1,0
53939,0.75,2757,1,0,0,0,0,0,0,0,0,1,0,0

In [21]:
df_all.rename(columns = {'cut_Very Good':'cut_Very_Good'}, inplace = True)
df_all

,carat,price,color_D,color_E,color_F,color_G,color_H,color_I,color_J,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very_Good
0,0.23,326,0,1,0,0,0,0,0,0,0,1,0,0
1,0.21,326,0,1,0,0,0,0,0,0,0,0,1,0
2,0.23,327,0,1,0,0,0,0,0,0,1,0,0,0
3,0.29,334,0,0,0,0,0,1,0,0,0,0,1,0
4,0.31,335,0,0,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,2757,1,0,0,0,0,0,0,0,0,1,0,0
53936,0.72,2757,1,0,0,0,0,0,0,0,1,0,0,0
53937,0.70,2757,1,0,0,0,0,0,0,0,0,0,0,1
53938,0.86,2757,0,0,0,0,1,0,0,0,0,0,1,0
53939,0.75,2757,1,0,0,0,0,0,0,0,0,1,0,0

In [23]:
model_d = smf.ols(formula='np.log(price)~carat+I(carat**2)+color_E+color_F+color_G+color_H+color_I+color_J+cut_Good+cut_Very_Good+cut_Premium+cut_Ideal',data=df_all).fit()
model_d.params

Intercept        5.282767
carat            3.990112
I(carat ** 2)   -0.903067
color_E         -0.030478
color_F         -0.040518
color_G         -0.076009
color_H         -0.218045
color_I         -0.314806
color_J         -0.437888
cut_Good         0.127953
cut_Very_Good    0.192805
cut_Premium      0.190929
cut_Ideal        0.277843
dtype: float64

In [24]:
model_d.f_test('color_E=color_F=color_G=color_H=color_I=color_J=0')

<class 'statsmodels.stats.contrast.ContrastResults'>
<F test: F=2266.128801097404, p=0.0, df_denom=5.39e+04, df_num=6>

In [25]:
stats.f.ppf(1-0.05,6,len(df_all)-6).round(2)

2.1

$$
F_{obs}>F_{cr}
$$
Категориальная переменная цвета значимо влияет на цену бриллианта