In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm 
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_params # вывод результатов тестирования
from statsmodels.iolib.summary2 import summary_col # вывод результатов тестирования
from statsmodels.stats.outliers_influence import variance_inflation_factor # VIF
import scipy
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/ryupepa/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
df['age_2']=df['age']*df['age']
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq,age_2
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,3438,0,3438,0,14,0,13,7.070004,1024,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,5020,0,5020,0,11,0,0,1.429999,961,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,2815,0,2815,0,21,0,0,20.529997,1936,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,3786,0,3786,0,12,0,12,9.619998,900,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,2580,0,2580,0,44,0,33,2.750000,4096,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,2026,0,2026,0,27,0,18,NaN,2025,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,675,1,465,210,18,0,4,NaN,1156,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1851,0,1851,0,19,0,17,NaN,1369,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1961,1,1481,480,31,0,22,NaN,2916,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,2363,0,2363,0,8,1,9,NaN,900,900

In [23]:
model = smf.ols(data = df , formula = 'sleep~totwrk +  age + +age_2+ smsa + male + south').fit()
model_1 = smf.ols(data = df , formula = 'age_2~totwrk +  age + smsa + male + south').fit()
model_2 = smf.ols(data = df , formula = 'male~totwrk+  age+age_2 + smsa  + south').fit()
model_3 = smf.ols(data = df , formula = 'age~totwrk+  age + smsa +male + south').fit()
model_1.params.round(3)

Intercept   -1552.146
totwrk         -0.019
age            83.036
smsa           -0.555
male            2.636
south          17.250
dtype: float64

In [24]:
model_1.rsquared

0.9847552819309748

In [25]:
VIF_1 = 1/(1 - model_1.rsquared.round(3))
VIF_1.round(2)

66.67

In [20]:
VIF_2 = 1/(1 - model_2.rsquared.round(3))
VIF_2.round(2)

1.17

In [26]:
VIF_3 = 1/(1 - model_3.rsquared.round(3))
VIF_3.round(2)

C:\Users\CЕРГЕЙ\AppData\Local\Temp\ipykernel_10388\3405113206.py:1: RuntimeWarning: divide by zero encountered in double_scalars
  VIF_3 = 1/(1 - model_3.rsquared.round(3))

inf