In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm 
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_params # вывод результатов тестирования
from statsmodels.iolib.summary2 import summary_col # вывод результатов тестирования
from statsmodels.stats.outliers_influence import variance_inflation_factor # VIF
import scipy
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/wage2.csv')
df['age_urban'] = df['age']*df['urban']
df['IQ_urban']=df['IQ']*df['urban']
df

,wage,hours,IQ,KWW,educ,exper,tenure,age,married,black,south,urban,sibs,brthord,meduc,feduc,lwage,age_urban,IQ_urban
0,769,40,93,35,12,11,2,31,1,0,0,1,1,2.0,8.0,8.0,6.645091,31,93
1,808,50,119,41,18,11,16,37,1,0,0,1,1,NaN,14.0,14.0,6.694562,37,119
2,825,40,108,46,14,11,9,33,1,0,0,1,1,2.0,14.0,14.0,6.715384,33,108
3,650,40,96,32,12,13,7,32,1,0,0,1,4,3.0,12.0,12.0,6.476973,32,96
4,562,40,74,27,11,14,5,34,1,0,0,1,10,6.0,6.0,11.0,6.331502,34,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,520,40,79,28,16,6,1,30,1,1,1,0,0,1.0,11.0,NaN,6.253829,0,0
931,1202,40,102,32,13,10,3,31,1,0,1,1,7,7.0,8.0,6.0,7.091742,31,102
932,538,45,77,22,12,12,10,28,1,1,1,0,9,NaN,7.0,NaN,6.287858,0,0
933,873,44,109,25,12,12,12,28,1,0,1,0,1,1.0,NaN,11.0,6.771935,0,0
934,1000,40,107,32,12,17,18,35,1,0,1,0,5,1.0,NaN,NaN,6.907755,0,0

In [5]:
model = smf.ols(data = df , formula = 'np.log(wage)~ age + urban+age_urban + IQ+IQ_urban').fit()
model_1 = smf.ols(data = df , formula = 'age~ urban+age_urban+IQ+IQ_urban').fit()
model_2 = smf.ols(data = df , formula = 'urban~  age + IQ +age_urban+IQ_urban').fit()
model_3 = smf.ols(data = df , formula = 'age_urban~age+ IQ + urban+IQ_urban ').fit()
model_1.params.round(3)

Intercept    33.242
urban       -33.242
age_urban     1.000
IQ           -0.001
IQ_urban      0.001
dtype: float64

In [6]:
model_1.rsquared

0.6988700887158363

In [7]:
VIF_1 = 1/(1 - model_1.rsquared.round(3))
VIF_1.round(2)

3.32

In [8]:
VIF_2 = 1/(1 - model_2.rsquared.round(3))
VIF_2.round(2)

166.67

In [9]:
VIF_3 = 1/(1 - model_3.rsquared.round(3))
VIF_3.round(2)

111.11