In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/wage1.csv')

In [8]:
df

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,...,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,...,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1.667707,49,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,15.00,16,14,2,0,1,1,2,0,0,...,0,0,0,1,1,0,0,2.708050,196,4
522,2.27,10,2,0,0,1,0,3,0,0,...,0,1,0,0,1,0,0,0.819780,4,0
523,4.67,15,13,18,0,0,1,3,0,0,...,0,0,0,0,1,0,0,1.541159,169,324
524,11.56,16,5,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2.447551,25,1
525,3.50,14,5,4,1,1,0,2,0,0,...,0,0,0,1,0,1,0,1.252763,25,16

In [9]:
model = smf.ols(data=df, formula='np.log(wage)~ exper+ I(exper**2) + female+ married+smsa').fit()

In [10]:
df['res2']=model.resid**2
df['res']=model.resid

In [12]:
sub_model= smf.ols(data=df, formula='res2~exper+ I(exper**2) + female+ married+smsa').fit()

## Гипотезы
$$
H0: \gamma_{1} = \gamma_{2} = \gamma_{3} = \gamma_{4} = \gamma_{5}  = 0
$$
$$
H1: \gamma_{1}^2 + \gamma_{2}^2 + \gamma_{3}^2 + \gamma_{4}^2 + \gamma_{5}^2  > 0
$$

In [13]:
St = np.round(len(df)*sub_model.rsquared,2)
St

8.94

In [14]:
Hi2 = stats.chi2.ppf(1-0.05,6)
Hi2

12.591587243743977

$$
nR_{0}^2 < X_{p}^2
$$
Нет оснований отвергать гипотезу Н0. Тест указывает на гомоскедастичность